#about {
  background: url("../imagens/detailhes/details.svg") no-repeat center right
    10px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.about h2 {
  margin-bottom: 45px;
  text-align: right;
  text-transform: uppercase;
  position: relative;
}

.about h2::after {
  content: "";
  width: 50px;
  height: 50px;
  background: url("../imagens/arrow-down-right.svg");
  position: absolute;
  top: 76px;
  right: -10px;
  transform: rotate(0);
}

.about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.titulo-about {
  margin-bottom: 35px;
  font-size: 1.625rem;
}

.about ul li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.about ul li:nth-child(3) {
  border-bottom: none;
  margin-bottom: 25px;
}

.about li h3 {
  font: 600 1.125rem/1.5 "Montserrat", sans-serif;
  margin-bottom: 8px;
}

.about a {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.125rem;
  padding: 16px 75px;
}

@media (max-width: 1200px) {
  #about {
    background: inherit;
  }
}

@media (max-width: 800px) {
  .about {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    gap: 40px;
  }

  .about h2 {
    text-align: start;
  }

  .about h2::after {
    transform: rotate(180deg);
    left: 230px;
  }

  .about .imagem {
    grid-row: 3;
  }
}

@media (max-width: 600px) {
  .about a {
    font-size: 0.875rem;
  }
}
