.parceiros {
  display: flex;
  padding-bottom: 100px;
  padding-top: 100px;
  align-items: center;
  overflow-x: auto;
}

.parceiros img {
  margin: auto;
  padding: 20px;
}

@media (max-width: 600px) {
  .parceiros {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}
