.star {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
  max-width: 1200px;
  align-items: end;
  margin-bottom: 150px;
  padding-left: 0.5px;
}

.imagens-stars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
}

.imagens-stars img {
  width: 100%;
  object-fit: cover;
}

.imagens-stars img:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 2;
}

.imagens-stars img:nth-child(2) {
  margin-top: 50px;
}

.imagens-stars img:nth-child(3) {
  padding-bottom: 30px;
  width: 200px;
  place-self: start end;
}

.star h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
}

.star h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #000, 40%, #fff 100%);
  margin-top: 20px;
}

.star p {
  margin-bottom: 32px;
}

.star a {
  font: 600 1.125rem/1.5 "Montserrat", sans-serif;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  margin-top: 32px;
  display: inline-block;
}

.star-info {
  padding-bottom: 20px;
}
