@import "./utilitarios/global.css";
@import "./utilitarios/componetes.css";
@import "./utilitarios/fontes.css";

@import "./introducao.css";

@import "./about.css";

@import "./tese-investimento.css";

@import "./star.css";

@import "./buz-news.css";

@import "./startups.css";

@import "./parceiros.css";

@import "./footer.css";
