.tese-bg {
  background: linear-gradient(to bottom, #000 40%, #fff 0%);
  padding-top: 35px;
  padding-bottom: 35px;
  position: relative;
}

.tese-bg::before {
  content: "";
  width: 48px;
  height: 87px;
  background-image: url("../imagens/detailhes/details3.svg");
  position: absolute;
  right: 20px;
  top: 42%;
}

.tese {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
}

.tese-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  justify-items: center;
}

.tese h2 {
  color: #ffffff;
  margin-bottom: 66px;
  text-align: center;
}

.tese p,
.tese-grid img {
  margin-bottom: 16px;
}

.tese-grid .tx2 {
  display: grid;
  justify-items: center;
}

@media (max-width: 1200px) {
  .tese-bg::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
  }
}

@media (max-width: 800px) {
  .tese-grid {
    grid-template-columns: 1fr;
  }

  .tese h2 {
    margin-bottom: 65px;
  }

  .tx2 img {
    display: none;
  }
}

@media (max-width: 600px) {
  .tese-bg {
    background: linear-gradient(to bottom, #000 30%, #fff 0%);
  }
}

@media (max-width: 400px) {
  .tese-bg {
    background: linear-gradient(to bottom, #000 20%, #fff 0%);
  }
  .tese-grid {
    gap: 16px;
  }
}
