.font-xxl-m {
  font: 400 3.5rem/1.5 "Montserrat", sans-serif;
}

.font-xxl-m span {
  font: 600 3.5rem/1.5 "Montserrat", sans-serif;
}

.font-xl-m {
  font: 500 1.5rem/1.5 "Montserrat", sans-serif;
}

.font-x-m {
  font: 500 1rem/1.5 "Montserrat", sans-serif;
}

.font-s-m {
  font: 400 1rem/1.5 "Montserrat", sans-serif;
}

.font-xl-m span {
  font: 700 1.5rem/1.5 "Montserrat", sans-serif;
}

.font-x-m span,
.font-s-m span {
  font: 700 1rem/1.5 "Montserrat", sans-serif;
}

.font-xxl-l {
  font: 700 4rem/1.2 "Lora", sans-serif;
}

.font-xl-l {
  font: 700 3rem/1.5 "Lora", sans-serif;
}

.font-x-l {
  font: 700 2rem/1.5 "Lora", sans-serif;
}
